numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
torch==2.4.0
torchvision==0.19.0
matplotlib==3.9.2
seaborn==0.13.2
shap==0.45.0
opencv-python==4.10.0.84
tqdm==4.66.5
scipy==1.13.1
joblib==1.4.2
python-docx==1.0.1
pillow==10.4.0
statsmodels==0.14.2
nbformat==5.10.4
nbconvert==7.16.5
jupyter==1.0.0
